@using nQueens.lib
@model nQueens.lib.Board

@*http://stackoverflow.com/questions/20456694/grid-of-responsive-squares/20457076#20457076*@

<div class="box">

  <div class="square">
    
  </div>



  <table border="1">
    @for (var i = 0; i < Model.N; i++)
    {
      var currentQueen = Model[i];
      <tr>
        @for (var j = 0; j < Model.N; j++)
        {
          <td>
            @if (j == currentQueen)
            {
              <span>Q</span>
            }
            else
            {
              <span>&nbsp;</span>
            }
          </td>
        }
      </tr>
    }
  </table>
</div>