@model webui.Models.SolutionModel


<h3>N = @Model.N</h3>
<h3>There are @Model.TotalSolutions total UNIQUE solutions.</h3>

@foreach (var result in Model.Solutions)
{
  @Html.Partial("_board", result)
}